/* ============Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
  
}

body {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  color: #fdcc52;
  transition: all .35s;
}

a:hover, a:focus {
  color: #fcbd20;
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
  border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  display: flex;
    align-items: center;
    justify-content: center;

}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
  
}
section p{
    margin-left: 20px;
}

section {
  padding: 100px 0;
}

.SectionHeading{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  } 
.my-4{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/*=============== Specific Styling=============*/


/*=============== Nav-Bar Styling=============*/
.navbad-brand img{
    padding-right: 15px;
    width: 65px;
    
}

.customNav{
    
        position: fixed;
        width: 100%;
        background: url("../images/jumbotron-bg-mb.jpg");
        background-color: transparent !important;
        background-size: cover;
        z-index: 10;
        

}

.nav-item {
  margin: 0px 15px;
}


.navbar-collapse{
   border-color: white !important;
}
.customNav a {
    color: white !important;
  }


/*=============== Hero Section Styling=============*/
  .jumbotron {
  background-image: url(../images/jumbotron-bg-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 30px);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  }

  .customJumbo {
    
    width: 100%;
    min-width: 350px;
    max-width: 700px;
    color: white;
    text-align: center;
    margin-top: 15px;
  }

 
  .customBtn{
    background-color: #05a081 ;
    border-color: #05a081;
    border-radius: 5px;
    width: 400px;

  }
  
    /*=============== About/Skills Section Styling=============*/
  .list-group{
    margin: 10px;
    
  }
  
  /*=============== Work Section Styling=============*/
  .Portfolio{
    margin: 10px;
    
  }
  .cardContainer {
    margin-top: 20px;
    text-align: center;
  
  }
  .customCardR1{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .btnCopy{
    display: flex;
    
    justify-content: center;
    background-color: #05a081 ;
    border-color: #05a081;
    border-radius: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
  }
  

   /*=============== Contact Section Styling=============*/
.contact-me{
    
        margin: 10px;
        
}


  /*=============== Footer Section Styling=============*/
  .footer p {
   display: flex;
   align-items: center;
   justify-content: center;

  }
  

  @media screen and (max-width:800px) {
    .jumbotron {
        background-image: url(/images/jumbotron-bg-mb.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 30px);
        
        display: flex;
        align-items: flex-start;
        justify-content: center;
        }
      
    
  }